{% extends "base.html" %}{% block content %}

<h2 class="ml-3">Demo 2 WebCam</h2>

<div class='row'>
    <div class='col-12'>
        <div class="progress progress-bar progress-bar-striped progress-bar-animated mb-2">Loading Model</div>
    </div>
    <div class='col-12' align="center">
        <h3 id="ready">
            <span></span>
        </h3>
    </div>
</div>

<video autoplay playsinline muted id="webcam" width="224" height="224"></video>

<script src="https://unpkg.com/@tensorflow/tfjs"></script>
<script src="https://unpkg.com/@tensorflow-models/mobilenet"></script>
<script src="{{ url_for('static', filename='js/webcam.js') }}" type="text/javascript"></script>

{% endblock %}